.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../Preloader_3.gif') center no-repeat #fff;
}


div.page-header {
	text-align: center;
	border-bottom: 2px solid #ee6e73;
	margin-bottom: 40px;
}

section {margin:  auto;width:  100%;padding-left:  170px;}

section div.row {
	display: inline-block;
}

section div.card {
	width: 350px;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 20px;
	height: 600px;
	overflow: hidden;
	box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	}

span.card-title {
    font-family: "Roboto", sans-serif;
    border-left: 5px solid #ee6e73;
    padding-left: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

p {
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

ul.footer-det li {
	margin-right: 10px;
}

nav.bg-light {
	background: #ee6e73!important;
	margin-bottom: 50px;
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background: linear-gradient(45deg,#d9ca5a,#fff);
}

@media only screen and (max-width: 500px) {
    section div.card {
	    margin-left: 0!important;
		width: 100%;
		padding: 15px;
		margin: 0 auto;
		margin-bottom: 20px;
		display: block;
		height: auto;
	}

	section div.row {
		display: block;
	}

	section {
		margin-left: 0;
		padding-left:0%;
	}
}
/*temp.css*/
