section {
	padding: 5px;
}

div.card {
	width: 400px;
	padding: 25px;
	margin: 0 auto;
	margin-bottom: 20px;
	}

span.card-title {
    font-family: "Roboto", sans-serif;
    border-left: 5px solid #ee6e73;
    padding-left: 1rem;
}

::-webkit-scrollbar { 
    display: none; 
}

p {
	-webkit-font-smoothing: antialiased;
}